<% @ambulancelocations.each do |t|%>
  	<% @location_info_id = t.ambulanceinfo_id %>
    <% @status = Ambulancestatus.find_by('ambulanceinfo_id' => @location_info_id) %>
    <% @info = Ambulanceinfo.all %>
	<% @info.each do |info|%>
        <%if(info.id == t.ambulanceinfo_id)%>
            <%= info.name %>
            <%= t.address %>
            <%= info.contact1 %>
            <%= info.contact2 %>
        <%end%>

    <%end%>

<% end %>

<!-- <h1><%= ambulancelocation.address %></h1>
<h2>contact1: <%= ambulancelocation.latitude %></h2> 
<h1> aaloo </h1> -->