<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @ambulancelocation.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ambulancelocation.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ambulancelocation.address %>
</p>



<%= link_to 'Edit', edit_ambulancelocation_path(@ambulancelocation) %> |
