<p id="notice"><%= notice %></p>
<div class="">
    <div class="col-md-12">
        <div class="well" style="opacity:0.7">
            <div id="myCarousel" class="carousel slide">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            

                         <% if !@ambulancestatuses.blank? %>
                                   <% for ambulancestatus in @ambulancestatuses %>
                                   <% if !ambulancestatus.status == 'on'? %>
                                   <div class="col-sm-3">
                                  <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                                     </div>
                                     <% else %>
                                     <div class="col-sm-3">
                                  <%= image_tag("busy.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                                     </div>
                                     <% end %>
                                    <% end %>
                                    <% end %>  
                                                              
                                    
                                    
                                 
                                
                           

                            <!-- <div class="col-sm-3"><%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                            </div>
                            <div class="col-sm-3"><%= image_tag("busy.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                            </div>
                            <div class="col-sm-3"><%= image_tag("busy.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                            </div>  -->
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <% if !@ambulancestatuses.blank? %>
                                   <% for ambulancestatus in @ambulancestatuses %>
                                   <% if !ambulancestatus.status.blank? %>
                                   <div class="col-sm-3">
                                  <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                                     </div>
                                     <% else %>
                                     <div class="col-sm-3">
                                  <%= image_tag("busy.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                                     </div>
                                     <% end %>
                                    <% end %>
                                    <% end %>  
                                               
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <% if !@ambulancestatuses.blank? %>
                                   <% for ambulancestatus in @ambulancestatuses %>
                                   <% if !ambulancestatus.status.blank? %>
                                   <div class="col-sm-3">
                                  <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                                     </div>
                                     <% else %>
                                     <div class="col-sm-3">
                                  <%= image_tag("busy.png", :alt => "Ambulance logo", :class => "img-responsive") %>
                                     </div>
                                     <% end %>
                                    <% end %>
                                    <% end %>  
                                               
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

<h1>Listing Ambulancestatuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ambulancestatuses.each do |ambulancestatus| %>
      <tr>
        <td><%= ambulancestatus.status %></td>
        <td><%= link_to 'Show', ambulancestatus %></td>
        <td><%= link_to 'Edit', edit_ambulancestatus_path(ambulancestatus) %></td>
        <td><%= link_to 'Destroy', ambulancestatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ambulancestatus', new_ambulancestatus_path %>
