<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Ambulance</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag "materialize.css" %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'materialize.js' %>
	<%= javascript_include_tag 'init.js' %>
	<%= javascript_include_tag 'jquery-2.1.1.min.js' %>
	<%= csrf_meta_tags %>

</head>


<body>
  <!-- <nav class="red" role="navigation">
    <div class="nav-wrapper container">
      
      <%= image_tag("logo-with-text.png", :alt => "Ambulance logo", :height => "45px") %> &nbsp;
       <h3 class="brand-logo"><%= image_tag("logo-with-text.png", :alt => "Ambulance logo", :height => "30px") %></h3>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      
    </div>
  </nav> -->



  <nav class="red" role="navigation">
    <div class="nav-wrapper container">
     <%= image_tag("logo-with-text.png", :alt => "Ambulance logo", :height => "45px") %>
    </div>
  </nav>

  <%= yield %>

  <!-- <footer class="page-footer red"> -->
   <footer class="">
    <div class="col-md-12">
        <div class="well" style="opacity:0.9">
            <div id="myCarousel" class="carousel slide" style="height:400px">
                
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                          
                            <div class="col-sm-12">
                                <%= image_tag("tips-heart-attack.png", :alt => "Ambulance logo", :class => "img-responsive", :height => "500px") %>
                            </div>
                         </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">

                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("busy.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("busy.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div> 
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                            <div class="col-sm-2">
                                <%= image_tag("available.png", :alt => "Ambulance logo", :class => "img-responsive", :width => "100px") %>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
    
  </footer>

</body>
</html>